@model IEnumerable<IncomeViewModel>

@{
    ViewData["Title"] = "All Incomes";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="text-center row">
    <div class="form-row align-items-center">
        <form class="input-group-sm" asp-route-carId="@ViewBag.Id" asp-controller="Car" asp-action="Overview" method="post">
            <input type="submit" value="Back" class="fs-6 btn btn-success mb-3 p-2" />
        </form>

        <a asp-route-carId="@ViewBag.Id" asp-area="" asp-controller="Income" asp-action="Add">
            <input type="submit" value="Add Income" class="fs-6 btn btn-primary mb-3 p-2" />
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-1 mt-2" scope="col">Total Earned</th>
                <th class="col-1 mt-2" scope="col">@Model.Sum(l => l.MoneyEarned)</th>
                <th class="col-1 mt-2" scope="col"></th>
                <th class="col-2 mt-2" scope="col"></th>
                <th class="col-1 mt-2" scope="col"></th>
                <th class="col-1 mt-2" scope="col"></th>
                <th class="col-1 mt-2" scope="col"></th>
                <th class="col-1 mt-2" scope="col"></th>
            </tr>
        </thead>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th class="col-1 mt-2" scope="col">Brand</th>
                <th class="col-2 mt-2" scope="col">Model</th>
                <th class="col-2 mt-2" scope="col">Date</th>
                <th class="col-1 mt-2" scope="col"></th>
                <th class="col-1 mt-2" scope="col">MoneyEarned</th>
                <th class="col-2 mt-2" scope="col">Description</th>
                <th class="col-1 mt-2" scope="col"></th>
                <th class="col-2 mt-2" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var each in Model)
            {
                <tr>
                    <td>@each.Brand</td>
                    <td>@each.CarModel</td>
                    <td>@each.Date</td>
                    <td></td>
                    <td>@each.MoneyEarned</td>
                    <td>@each.Description</td>
                    <td></td>
                    <td>
                        <form class="input-group-sm" asp-route-incomeId="@each.Id" asp-controller="Income" asp-action="Delete" method="post">
                            <input type="submit" value="Delete" class="fs-6 btn btn-danger mb-3 p-2" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>