@model IEnumerable<RefuelViewModel>

@{
    ViewData["Title"] = "All Refuels";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="text-center row">
    <div class="form-row align-items-center">
        <form class="input-group-sm" asp-route-carId="@ViewBag.Id" asp-controller="Car" asp-action="Overview" method="post">
            <input type="submit" value="Back" class="fs-6 btn btn-success mb-3 p-2" />
        </form>
        <a asp-route-carId="@ViewBag.Id" asp-area="" asp-controller="Refuel" asp-action="Add">
            <input type="submit" value="Add Refuel" class="fs-6 btn btn-primary mb-3 p-2" />
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-1 mt-2" scope="col">Total Liters</th>
                <th class="col-1 mt-2" scope="col">@Model.Sum(l => l.Liters)</th>
                <th class="col-1 mt-2" scope="col"></th>
                <th class="col-1 mt-2" scope="col">Total Kms</th>
                <th class="col-1 mt-2" scope="col">@Model.Sum(l => l.Trip)</th>
                <th class="col-1 mt-2" scope="col"></th>
                <th class="col-2 mt-2" scope="col">Average</th>
                @if (Model != null)
                {
                    <th class="col-1 mt-2" scope="col">@((Model.Sum(l => l.Liters) / Model.Sum(l => l.Trip) * 100).ToString("N")) L/100Km</th>
                }
            </tr>
        </thead>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th class="col-1 mt-2" scope="col">Brand</th>
                <th class="col-2 mt-2" scope="col">Model</th>
                <th class="col-2 mt-2" scope="col">Date</th>
                <th class="col-1 mt-2" scope="col">Liters</th>
                <th class="col-1 mt-2" scope="col">Cost</th>
                <th class="col-1 mt-2" scope="col">Trip</th>
                <th class="col-2 mt-2" scope="col">GasStation</th>
                <th class="col-2 mt-2" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var refu in Model)
            {
                <tr>
                    <td>@refu.Brand</td>
                    <td>@refu.CarModel</td>
                    <td>@refu.Date</td>
                    <td>@refu.Liters</td>
                    <td>@refu.Cost</td>
                    <td>@refu.Trip</td>
                    <td>@refu.GasStation</td>
                    <td>
                        <form class="input-group-sm" asp-route-refId="@refu.Id" asp-controller="Refuel" asp-action="Delete" method="post">
                            <input type="submit" value="Delete" class="fs-6 btn btn-danger mb-3 p-2" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>