@model IEnumerable<CarViewModel>

@{
    ViewData["Title"] = "All Cars";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="text-center row">
    <table class="table">
        <thead>
            <tr>
                <th class="col-2 mt-2" scope="col">Brand</th>
                <th class="col-2 mt-2" scope="col">Model</th>
                <th class="col-2 mt-2" scope="col">Mileage</th>
                <th class="col-2 mt-2" scope="col">User</th>
                <th class="col-1 mt-2" scope="col"></th>
                <th class="col-1 mt-2" scope="col"></th>
                <th class="col-1 mt-2" scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var car in Model.Where(x => !x.IsDeleted))
            {
                <tr>
                    <td>@car.Brand</td>
                    <td>@car.CarModel</td>
                    <td>@car.Mileage</td>
                    <td>@car.User</td>
                    <td>
                        <form class="input-group-sm" asp-route-carId="@car.Id" asp-controller="Car" asp-action="Overview" method="post">
                            <input type="submit" value="View" class="fs-6 btn btn-success mb-3 p-2" />
                        </form>
                    </td>
                    <td>
                        <form class="input-group-sm" asp-route-carId="@car.Id" asp-controller="Car" asp-action="Edit" method="get">
                            <input type="submit" value="Edit" class="fs-6 btn btn-warning mb-3 p-2" />
                        </form>
                    </td>
                    <td>
                        <form class="input-group-sm" asp-route-carId="@car.Id" asp-controller="Administrator" asp-action="DeleteCar" method="post">
                            <input type="submit" value="Delete" class="fs-6 btn btn-danger mb-3 p-2" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h1 class="text-center">Deleted Cars</h1>

<div class="text-center row">
    <table class="table">
        <thead>
            <tr>
                <th class="col-2 mt-2" scope="col">Brand</th>
                <th class="col-2 mt-2" scope="col">Model</th>
                <th class="col-2 mt-2" scope="col">Mileage</th>
                <th class="col-2 mt-2" scope="col">User</th>
                <th class="col-1 mt-2" scope="col"></th>
                <th class="col-1 mt-2" scope="col"></th>
                <th class="col-1 mt-2" scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var car in Model.Where(x => x.IsDeleted))
            {
                <tr>
                    <td>@car.Brand</td>
                    <td>@car.CarModel</td>
                    <td>@car.Mileage</td>
                    <td>@car.User</td>
                    <td>
                        <form class="input-group-sm" asp-route-carId="@car.Id" asp-controller="Car" asp-action="Overview" method="post">
                            <input type="submit" value="View" class="fs-6 btn btn-success mb-3 p-2" />
                        </form>
                    </td>
                    <td>
                        <form class="input-group-sm" asp-route-carId="@car.Id" asp-controller="Car" asp-action="Edit" method="post">
                            <input type="submit" value="Edit" class="fs-6 btn btn-warning mb-3 p-2" />
                        </form>
                    </td>
                    <td>                        
                        <form class="input-group-sm" asp-route-carId="@car.Id" asp-controller="Administrator" asp-action="Restore" method="post">
                            <input type="submit" value="Restore" class="fs-6 btn btn-danger mb-3 p-2" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>