@model CarViewModel

@{
    ViewData["Title"] = "Edit Car Info";
}

<h1 class="text-center">@ViewData["Title"]</h1>


<form asp-controller="Car" asp-action="Edit" method="post">
    <div class="form-row align-items-center">
        <div class="col-md-6" hidden>
            <label asp-for="@Model.Id"></label>
            <input asp-for="@Model.Id" type="text" value="@Model.Id" class="form-control mb-2">
            <span asp-validation-for="@Model.Id" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="@Model.Brand"></label>
            <input asp-for="@Model.Brand" type="text" value="@Model.Brand" class="form-control mb-2">
            <span asp-validation-for="@Model.Brand" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="@Model.CarModel">Model</label>
            <input asp-for="@Model.CarModel" type="text" value="@Model.CarModel" class="form-control mb-2">
            <span asp-validation-for="@Model.CarModel" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="@Model.Mileage">Mileage</label>
            <input asp-for="@Model.Mileage" type="text" value="@Model.Mileage" class="form-control mb-2">
            <span asp-validation-for="@Model.Mileage" class="text-danger"></span>
        </div>
        <form class="input-group-sm" asp-route-carId="@Model.Id" asp-controller="Car" asp-action="Edit" method="post">
            <input type="submit" value="Save" class="fs-6 btn btn-primary mb-3 p-2" />
        </form>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}