@model OverviewModel

@{
    ViewData["Title"] = "Overview";
}

<h1 class="text-center">@ViewData["Title"]</h1>


<div class="text-center row">
    <div class="container-fluid">
        <form class="input-group-sm" asp-route-carId="@Model.Id" asp-controller="Refuel" asp-action="Refuel" method="post">
            <input type="submit" value="Refuel" class="fs-6 btn btn-primary mb-3 p-2" />
        </form>
    </div>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-route-carId="@Model.Id"  asp-area="" asp-controller="Refuel" asp-action="Refuel">Refuel</a>
            </li>

        </ul>
        <partial name="_LoginPartial" />
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="col-3 mt-2" scope="col">Brand</th>
                <th class="col-3 mt-2" scope="col">Model</th>
                <th class="col-3 mt-2" scope="col">Mileage</th>
                <th class="col-3 mt-2" scope="col">Refuels</th>
                <th class="col-3 mt-2" scope="col">TotalLiters</th>
                <th class="col-3 mt-2" scope="col">TotalCostRefuels</th>
                <th class="col-3 mt-2" scope="col">TotalCostExpenses</th>
                <th class="col-3 mt-2" scope="col">TotalCostServices</th>
                <th class="col-3 mt-2" scope="col">MoneyEarned</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Brand</td>
                <td>@Model.CarModel</td>
                <td>@Model.Mileage</td>
                <td>@Model.Refuels</td>
                <td>@Model.TotalLiters</td>
                <td>@Model.TotalCostRefuels</td>
                <td>@Model.TotalCostExpenses</td>
                <td>@Model.TotalCostServices</td>
                <td>@Model.MoneyEarned</td>
            </tr>

        </tbody>
    </table>
</div>